* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
    h1 {
    display: inline-block;
    font-size: 48px;
}

<<<<<<< HEAD
.header h1 .seo {
    color: #d9dcd6;
}

.header div {
=======
    div {
>>>>>>> 0b8bfa179934e83902eb5279f9efc8f4669adb86
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
<<<<<<< HEAD
/* the . header div ul did not provide a noticeable function so it was taken out*/

.header div ul li {
=======

 li {
>>>>>>> 0b8bfa179934e83902eb5279f9efc8f4669adb86
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* there was no need to name each class under the benefits and content for each specific area, so the names and css code were consolidated*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#contents { margin-bottom: 20px;
padding: 50px;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #0072bb;
color: #ffffff;}

#contents2 { margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;}

#contents2 h2 {margin-bottom: 20px;
font-size: 36px;}

#contents2 img { max-height: 200px;}


#contents img {
    max-height: 200px;
}

#contents h2 {
    margin-bottom: 20px;
    font-size:36px;
}
/* the text in the footer was not needed because the website was titled properly*/

.footer {
    padding: 30px;
}
